<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @ingredient, partial: "card", as: :ingredient %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "ingredients/ingredient_combinations" %>
  </div>
</div>
